# Reverse a number

In [ ]:
a=int(input("Enter a number : "))
reverse=0
while a>0:
  r=a%10
  a=a//10
  reverse=reverse*10+r
print("Reverse = ",reverse)

Enter a number : 1234
Reverse =  4321

## Sum of first n natural numbers

In [ ]:
n=int(input("Enter the nth number : "))
sum=0
for i in range(n+1):
  sum=sum+i
print("Sum of",n,"numbers = ",sum)

Enter the nth number9
Sum of 9 numbers =  45

## Sum of factors of a number

In [ ]:
a=int(input("Enter a number : "))
sum=0
i=2
while i<=a:
  if a%i==0:
    sum=sum+i
    i=i+1
  else:
    i=i+1
print("Sum of factors = ",sum)

Enter a number : 12
Sum of factors =  27

### Sum of n numbers of an arithematic sequence

In [ ]:
n=int(input("Enter the number of numbers needed : "))
sum=0
for i in range(n+1):
  sum=sum+(2*i)
print("Sum = ",sum)

Enter the number of numbers needed : 5
Sum =  30

## Fibonacci

In [ ]:
n=int(input("Enter the number of numbers needed : "))
num=0
i=1
t1=0
t2=1
while i<n:
  if (i==1):
    print(t1)
  elif i==2:
    print(t2)
  num=t1+t2
  print(num)
  t1=t2
  t2=num
  i=i+1

Enter the number of numbers needed : 4
0
1
1
2
3

## Palindrome

In [ ]:
num=int(input("Enter a nummber : "))
t=num
reverse=0
while num>0:
  r=num%10
  num=num//10
  reverse=reverse*10+r
if reverse==t:
  print("The number is a palindrome")
else:
  print("The number is not a palindrome")

Enter a nummber : 121
The number is a palindrome

## Armstrong number

In [ ]:
num=int(input("Enter a number : "))
temp1=num
temp=num
sum=0
count=0
while num>0:
  num=num//10
  count=count+1
while temp>0:
  r=temp%10
  temp=temp//10
  sum=r**count+sum
if temp1==sum:
  print("The number is an Armtrong number")
else:
  print("The number is not an Armtrong number")

Enter a number : 407
The number is an Armtrong number

### x^n

In [ ]:
a=int(input("Enter x : "))
b=int(input("Enter n : "))
for i in range(n+1):
  value=a**i
  print(value,end=",")

Enter x : 5
Enter n : 4
1,5,25,125,625,

# First n odd numbers

In [ ]:
n=int(input("Enter the number of numbers needed : "))
for i in range(n+1):
  print((2*i+1),end=", ")

Enter the number of numbers needed : 5
1, 3, 5, 7, 9, 11,

## GCD of two numbers

In [ ]:
a=int(input("Enter a number : "))
b=int(input("Enter a number : "))
if a>b:
  while b>0:
    r=a%b
    a=b
    b=r
  print("GCD = ",a)
else:
  while a>0:
    r=b%a
    b=a
    a=r
  print("GCD = ",b)

Enter a number : 15
Enter a number : 2
GCD =  1

## Factorial

In [ ]:
num=int(input("Enter a number : "))
res=1
i=1
while i<=num:
  res=res*i
  i=i+1
print("Factorial = ",res)

Enter a number : 5
Factorial =  120
Enter a number : 6
Factorial =  720

## Squares of numbers in a range

In [ ]:
a=int(input("Enter the lowest number : "))
b=int(input("Enter the highest number : "))
while a<=b:
  sqr=a**2
  print(sqr,end=" ")
  a=a+1

Enter the lowest number : 2
Enter the highest number : 6
4 9 16 25 36

## 1-4+9-16...

In [ ]:
n=int(input("Enter final number : "))
sum=0
i=1
while i<=n:
  if i%2==0:
    sum=sum-(i**2)
  else:
    sum=sum+(i**2)
  i=i+1
print("Sum = ",sum)

Enter final number : 5
Sum =  15

## Automorphic

In [ ]:
num=int(input("Enter a number : "))
square=num**2
sum1=0
sum=0
count=0
while count<2:
  r=square%10
  sum=r+sum*10
  square=square//10
  count=count+1
while sum>0:
  r=sum%10
  sum=sum//10
  sum1=sum1*10+r
if sum1==num:
  print("The number is an automorphic number")
else:
  print("The number is not an automorphic number")

Enter a number : 25
The number is an automorphic number

## Binary

In [ ]:
a=int(input("Enter a number : "))
sum=0
s=0
count=0
count1=0
while count<10:
  rem=a%2
  sum=sum*10+rem
  a=a//2
  count=count+1
while count1<10:
  r=sum%10
  s=s*10+r
  sum=sum//10
  count1=count1+1
print("Binary = ",s)

Enter a number : 4
Binary =  100